.content {
  min-height: calc(100% - var(--main-footer-height) - var(--global-margin) * 2);
  max-width: var(--main-content-width);
  margin: var(--global-margin) auto;
  padding: 0 var(--global-padding);

  .detail [data-ice="anchor"] {
    padding: var(--global-padding);
    margin: calc(var(--global-margin) * 2) 0 var(--global-margin);
    background: var(--content-detail-background);
    color: var(--content-detail-color);
    border-bottom: 1px solid var(--content-detail-border-color);

    a {
      color: var(--content-detail-link-color);
    }

    &.active-target {
      background: var(--active-target-background);
      color: var(--active-target-color);
      border-bottom: 1px solid var(--active-target-border-color);

      a {
        color: var(--active-target-link-color);
      }
    }
  }
}
