.content {
  min-height: calc(100% - var(--main-footer-height) - var(--global-margin) * 2);
  max-width: var(--main-content-width);
  margin: var(--global-margin) auto;
  padding: 0 var(--global-padding);

  .detail [data-ice="anchor"] {
    padding: var(--global-padding);
    margin: calc(var(--global-margin) * 2) 0 var(--global-margin);
    background: var(--content-detail-background);
    color: var(--content-detail-color);
    border-bottom: 2px solid var(--content-detail-border-color);

    a {
      color: var(--content-detail-link-color);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    border-bottom: 4px solid var(--main-border-color);
    margin: 1em -1em;
    padding: 0.5em 1em;
  }

  .active-target {
    background: var(--active-target-background);
    color: var(--active-target-color);
    border-color: var(--active-target-border-color);

    a {
      color: var(--active-target-link-color);
    }
  }

  h1.active-target,
  h2.active-target,
  h3.active-target,
  h1.active-target {
    background: var(--active-target-background);
    color: var(--active-target-color);
    border-color: var(--active-target-border-color);

    a {
      color: var(--active-target-link-color);
    }
  }
}
