@font-face {
  font-family: 'Open Dyslexic';
  src: url('OpenDyslexic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Dyslexic';
  src: url('OpenDyslexic-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Dyslexic';
  src: url('OpenDyslexic-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Dyslexic';
  src: url('OpenDyslexic-Bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

:root.font-dyslexic {
  --sans-serif: 'Open Dyslexic';
}
