.kind,
[data-ice="kind-icon"] {
  height: 2em;
  width: 2em;
  display: inline-flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 0.25rem;
  margin-right: calc(var(--global-padding) / 2);
  background: var(--kind-background);
  color: var(--kind-color);
}

._kind-function,
.kind-function {
  --kind-background: var(--kind-function-background);
  --kind-color: var(--kind-function-color);
}

._kind-variable,
.kind-variable {
  --kind-background: var(--kind-variable-background);
  --kind-color: var(--kind-variable-color);
}

._kind-class,
.kind-class {
  --kind-background: var(--kind-class-background);
  --kind-color: var(--kind-class-color);
}

._kind-typedef,
.kind-typedef {
  --kind-background: var(--kind-typedef-background);
  --kind-color: var(--kind-typedef-color);
}

._kind-interface,
.kind-interface {
  --kind-background: var(--kind-interface-background);
  --kind-color: var(--kind-interface-color);
}

._kind-external,
.kind-external {
  --kind-background: var(--kind-external-background);
  --kind-color: var(--kind-external-color);
}
