.sidebar-left {
  position: relative;
  grid-area: Sidebar;
  width: var(--left-sidebar-width);
  transition:
    transform
    var(--right-sidebar-speed)
    var(--right-sidebar-easing),
    box-shadow
    0s
    linear;
  background: var(--left-sidebar-background);
  color: var(--left-sidebar-color);
  border-right: 1px solid var(--left-sidebar-border-color);
  box-shadow: var(--left-sidebar-shadow);

  @media (max-width: 45rem) {
    grid-area: initial;
    position: fixed;
    top: var(--main-header-height);
    left: 0;
    bottom: 0;

    &.closed {
      transition:
        transform
        var(--right-sidebar-speed)
        var(--right-sidebar-easing),
        box-shadow
        var(--right-sidebar-speed)
        0s
        linear;
      box-shadow: 0 0 rgba(0, 0, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    &.initial {
      transition:
        transform
        0s
        linear,
        box-shadow
        0s
        linear;
    }
  }

  .fake-nav-link .kind {
    border-bottom: 1px solid var(--left-sidebar-border-color);
  }

  .fake-nav-link a,
  .nav-link {
    padding: var(--left-sidebar-padding);
    border-bottom: 1px solid var(--left-sidebar-border-color);
  }

  .fake-nav-link a:hover,
  .nav-link:hover {
    background: var(--left-sidebar-border-color);
  }

  .fake-nav-link a.active-link,
  .nav-link.active-link {
    background: var(--left-sidebar-background-active);
    color: var(--left-sidebar-color-active);
  }

  .indent-h1 .nav-link:before,
  ._indent-h1 .nav-link:before,
  .indent-h2 .nav-link:before,
  ._indent-h2 .nav-link:before,
  .indent-h3 .nav-link:before,
  ._indent-h3 .nav-link:before,
  .indent-h4 .nav-link:before,
  ._indent-h4 .nav-link:before {
    content: '';
    display: flex;
    flex: initial;
    height: 3rem;
    background: var(--left-sidebar-indent-background);
    transform: translateX(calc(-1 * var(--left-sidebar-padding-left)));
  }

  .indent-h1 .nav-link:before,
  ._indent-h1 .nav-link:before {
    width: 0;
  }
  .indent-h2 .nav-link:before,
  ._indent-h2 .nav-link:before {
    width: var(--global-padding);
  }
  .indent-h3 .nav-link:before,
  ._indent-h3 .nav-link:before {
    width: calc(var(--global-padding) * 2);
  }
  .indent-h4 .nav-link:before,
  ._indent-h4 .nav-link:before {
    width: calc(var(--global-padding) * 2);
  }

  a[href*="#bug-fixes"],
  a[href*="#features"] {
    display: none!important;
  }
}
