:root.dark {
  --main-background: #16181f;
  --main-color: #fff;
  --main-border-color: #212429;
  --main-link-color: #fc0043;
  --main-focus-color: #fd84ad;

  --active-target-background: #f2f5f9;
  --active-target-color: #212429;
  --active-target-link-color: #7f012a;
  --active-target-border-color: #c9d0d5;

  --content-detail-background: #212429;
  --content-detail-color: #f2f5f9;
  --content-detail-link-color: #fd84ad;
  --content-detail-border-color: #2d3038;

  --main-header-background: #fc0043;
  --main-header-color: #fff;
  --main-header-border-color: #7f012a;
  --main-header-link-hover-shade: rgba(0, 0, 0, 0.1);
  --main-header-link-active-shade: rgba(0, 0, 0, 0.2);
  --main-header-shadow: 0 0.175rem 0.35rem rgba(0, 0, 0, 0.35), 0 0.25rem 0.5rem rgba(0, 0, 0, 0.65);

  --left-sidebar-background: #212429;
  --left-sidebar-background-active: #16181f;
  --left-sidebar-color-active: #fff;
  --left-sidebar-color: #fff;
  --left-sidebar-border-color: #2d3038;
  --left-sidebar-indent-background: none;
  --left-sidebar-shadow: none;

  @media (max-width: 45rem) {
    --left-sidebar-shadow: 0.125rem 0 0.25rem rgba(0, 0, 0, 0.25), 0.175rem 0 0.35rem rgba(0, 0, 0, 0.45);
  }

  --right-sidebar-background: #212429;
  --right-sidebar-background-active: #16181f;
  --right-sidebar-color-active: #fff;
  --right-sidebar-color: #fff;
  --right-sidebar-border-color: #2d3038;
  --right-sidebar-indent-background: none;
  --right-sidebar-shadow: -0.125rem 0 0.25rem rgba(0, 0, 0, 0.25), -0.175rem 0 0.35rem rgba(0, 0, 0, 0.45);;

  --card-link-hover-shade: rgba(255, 255, 255, 0.1);

  --search-separator-background: #fc0043;
  --search-separator-color: #fff;
  --search-result-background: #212429;
  --search-result-color: #fff;
  --search-result-border-color: #2d3038;
  --search-result-selected-background: #16181f;
  --search-result-selected-color: #fff;
  --search-result-hover-shade: rgba(255, 255, 255, 0.1);
  --search-result-focus-color: #fd84ad;

  --search-result-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.35), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.65);

  --main-code-background: #2d3038;
  --main-code-color: #c9d0d5;
  --main-code-border-color: #484c58;

  --pretty-code-error-background: #7f012a;
  --pretty-code-error-color: #fff;

  --kind-background: #16181f;
  --kind-color: #696e76;

  --kind-function-background: hsl(0, 80%, 70%);
  --kind-function-color: hsl(0, 90%, 20%);

  --kind-class-background: hsl(60, 80%, 70%);
  --kind-class-color: hsl(60, 90%, 20%);

  --kind-variable-background: hsl(120, 80%, 70%);
  --kind-variable-color: hsl(120, 90%, 20%);

  --kind-interface-background: hsl(180, 80%, 70%);
  --kind-interface-color: hsl(180, 90%, 20%);

  --kind-typedef-background: hsl(240, 80%, 70%);
  --kind-typedef-color: hsl(240, 90%, 20%);

  --kind-external-background: hsl(300, 80%, 70%);
  --kind-external-color: hsl(300, 90%, 20%);

  --table-color: #fff;
  --table-background: #16181f;
  --table-border-color: #212429;
  --td-color: #fff;
  --td-background: #16181f;
  --td-border-color: #212429;
  --thead-color: #fff;
  --thead-background: #2d3038;
  --thead-border-color: #212429;

  --light-switch-color: #000;
  --light-switch-background: #f2f5f9;
}
