.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;

  .kind,
  [data-ice="kind-icon"] {
    height: 2em;
    width: 2em;
    padding: 0.25rem;
    margin-right: calc(var(--global-padding) / 2);
  }
}
thead td,
thead th {
  background: var(--thead-background);
  color: var(--thead-color);
  border-color: var(--thead-border-color);
}
tr {
  border-bottom: 1px solid var(--main-border-color);
}
th,
td {
  padding: var(--global-padding);
  text-align: left;
  border: 1px solid var(--td-border-color);
  background: var(--td-background);
  color: var(--td-color);
}
