.github-link-wrapper {
  position: relative;
  display: flex;
  order: -1;

  .icon {
    display: flex;
    align-items: center;
    align-content: center;

    svg {
      height: var(--input-icon-size);
      width: var(--input-icon-size);
      fill: currentColor;
    }
  }

  .github-link {
    flex: 1;
    display: flex;
    padding: calc(var(--global-padding) / 2) var(--global-padding);
    color: currentColor;
  }
}
